@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --container-max: 1200px;
}

html,body,#root{
  height:100%;
}

body{
  font-family: theme('fontFamily.figtree');
  color: #111827;
  background: white;
}

.container-custom{
  max-width: var(--container-max);
}
